.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: $color-dark-L;
  border-radius: 2rem;
  transition: all 0.5s;
  &:hover {
    background-color: lighten($color: $color-dark-L, $amount: 5);
  }
}

.nav-link {
  display: block;
  padding: 2rem;
  transition: all 0.5s;
  border-radius: 2rem;
  text-transform: uppercase;
  &__icon {
    padding: 0.8rem;
  }
  &:hover {
    background-color: $color-light;
  }
  @include media-tablet {
    padding: 1rem;
  }
  @include media-mobile-XL {
    padding: 0.5rem;
  }
}
