.project-list {
  li {
    @include media-mobile-XL {
      margin-top: 0.5rem;
    }
    @include media-print {
      display: none;
    }
  }
}

.project {
  display: flex;
  padding-bottom: 3rem;
  @include media-mobile-XL {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}

.project__image {
  border-radius: 1rem;
}

.project__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  width: 100%;
  .project__link-git {
    margin-left: auto;
  }
}

.project__link-git {
  margin-top: auto;
  transition: all 0.3s;
  &:hover {
    @extend %filter-violet;
  }
}

.project__description_stack {
  font-style: italic;
}

@media print {
  .project {
    padding: 0;
  }
  .project__image {
    display: none;
  }
  .project__link-git {
    display: none;
  }
}
