.skills-list {
  padding-bottom: 2rem;
  &:last-child {
    padding-bottom: 0;
  }
  &_soft {
    display: block;
    .skill-item {
      display: block;
      h4 {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
  &_hard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @include media-tablet {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-mobile-XL {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-mobile-L {
      grid-template-columns: repeat(2, 1fr);
    }
    .skill-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media print {
  .skills-list_hard {
    grid-template-columns: repeat(6, 1fr);
  }
}

.skill-name {
  text-align: center;
  span {
    display: block;
  }
}
