.aside {
  padding: 2rem;
  width: 33rem;
  .section {
    margin: 0 auto;
  }
  @include media-tablet {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media print {
  .aside {
    padding: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
