header {
  background-color: $color-dark-L;
}

.header-nav {
  padding-top: 2rem;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-title {
  margin: 0 auto;
  a {
    font-weight: 400;
  }
}

@media print {
  .header-nav {
    display: none;
  }
}
